* {
  box-sizing: border-box;
  font-family: "Georgia", serif;
  margin: 0;
  background-color: #303234;
}

.header {
  width: 100%;
  height: 5rem;
  padding-bottom: 0.5rem;
  background-color: #303234;
  padding-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  padding-top: 1.5 rem;
}

nav .logo h2 {
  color: #ffd580;
  font-size: 2rem;
}

.navLinks {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks > input {
  border: 1px solid #e0e2e6;
  padding: 6px;
  border-radius: 4px;
  height: 2.4rem;
  color: white;
  width: 60%;
  background-color: #0c2344;
}

.navLinks > input:focus {
  border: none;
}

.navLinks > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.navLinks > a:hover {
  text-decoration: underline;
  color: #ffd580;
}

.appointment button {
  border: none;
  width: 15rem;
  height: 3rem;
  background-color: #303234;
  color: white;
  font-size: 1.9rem;
  cursor: pointer;
}

.appointment button {
  border: 2px solid #ffd580;
  border-radius: 4px;
}

.container {
  display: flex;
  justify-content: center; /* center the container or card in the middle of the screen */
  flex-wrap: wrap; /* wrap the cards in the container, essentially, the contents of the container and teh card become reponsive and change according to the size of the screen */
}

.image img {
  height: 350px;
  width: 1750px;
  margin-bottom: 15px;
  background-size: cover; /* cover the image to the card */
  border-radius: 15px 15px 0 0; /* gives us some nice, rounded corners on the card */
  display: flex;
}

.text-light {
  color: #ffffff;
}

#welcome {
  background-color: #f7f8fa;
}

.s2 {
  font-size: 64px;
  letter-spacing: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.s2 > h3 {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 64px;
  color: #ffd580;
}

h4 {
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
}

.testimonials {
  padding-left: 80px;
}

picture {
  height: 150px;
  margin-bottom: 15px;
  background-size: cover; /* cover the image to the card */
  border-radius: 15px 15px 0 0; /* gives us some nice, rounded corners on the card */
}

.column img {
  width: 100%;
  height: 510px;
  object-fit: contain;
}

.row {
  display: flex;
}

.card {
  background-color: #ffd580;
  width: 270px;
  margin: 20px;
  border-radius: 15px;
}

.card-image {
  height: 150px;
  margin-bottom: 15px;
  background-size: cover; /* cover the image to the card */
  border-radius: 15px 15px 0 0; /* gives us some nice, rounded corners on the card */
}

.car-1 {
  background-image: url("./images/georgina.jpg");
}

.car-2 {
  background-image: url("./images/ali.jpg");
}

.car-3 {
  background-image: url("./images/javan.jpg");
}

.car-4 {
  background-image: url("./images/eric.jpg");
}

.card h2 {
  padding: 10px;
}

.card p {
  padding: 10px;
}

.card a {
  background-color: #ffd580;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  border-radius: 15px;
  text-decoration: none;
}

.card:hover {
  background-color: #ffd580;
  color: #ffd580;
  cursor: pointer;
  transform: scale(1.05); /* scale the card up when the user hovers over it */
  transition: all 0.5s ease-in-out; /* make the card transition when the user hovers over it */
}

#footer {
  color: #151515;
  width: 960px;
  clear: both;
  position: relative;
  overflow: hidden;
  margin-left: 205px;
  padding: 20px;
}

.wrapper {
  clear: both;
  position: relative;
  overflow: hidden;
}

.left {
  height: 200px;
  width: 2%;
  text-align: center;
  float: left;
  display: inline-block;
}

.right {
  height: 100px;
  width: 20%;
  float: right;
  text-align: left;
  display: inline-block;
}

.centered {
  width: 5%;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.navigation {
  padding: 40px;
  margin: 20px;
  border-radius: 15px;
}

.navigation h2 {
  color: #ffd580;
}

.subfooter {
  background: #0b0b0b;
  padding: 30px 0 20px 0;
}
